.vscode
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Script
script/dist/
script/node_modules/

# Server
server/.gradle/
server/.kotlin
server/build/
server/data/

# Web extension
web-extension/src/_metadata/

# Deploy
.env
